[Unit]
Description=Minecraft Forge Server
After=network.target

[Service]
User={{ minecraft_user }}
WorkingDirectory={{ minecraft_server_directory }}
ExecStart=/opt/minecraft/run.sh nogui
Restart=on-failure

[Install]
WantedBy=multi-user.target
